@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lato', sans-serif;
}

.sidebar {
  transition: all .3s;
}

.sidebar:hover .navbar li a span,.sidebar:hover .logo_small {
  display: block;
}

#strokeHelp path{
  stroke: rgb(112, 112, 112) ;
}